<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="{% url 'index' %}">FTComp</a></div>
                    </div>
                    <div class="footer_title">Alguma Dúvida? Fale conosco</div>
                    <div class="footer_phone">+11 1234-5678</div>
                    <div class="footer_contact_text">
                        <p>R. Bel Aliance, 225 - Jardim Sao Caetano, São Paulo - SP, 09581-420</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Busca rápida</div>
                    <ul class="footer_list">
                        <li><a href="/listings/search?keywords=computador">Computadores</a></li>
                        <li><a href="/listings/search?keywords=notebook">Notebooks</a></li>
                        <li><a href="/listings/search?keywords=hardware">Hardware</a></li>
                        <li><a href="/listings/search?keywords=periférico">Periféricos</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Área do Cliente</div>
                    <ul class="footer_list">
                        <li><a href="#">Minha Conta</a></li>
                        <li><a href="#">Rastreamento de Pedido</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>